<!DOCTYPE html>
<html lang="en">
  <%= _head(conn: @conn, title: html_safe(@flag.name)) %>
  <body>
    <nav id="fwf-top-bar" class="navbar navbar-inverse navbar-toggleable-xl">
      <a class="navbar-brand" href="https://github.com/tompave/fun_with_flags">FunWithFlags</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= path(@conn, "/flags") %>">all flags</a>
          </li>

          <span class="navbar-text">
            &gt;
          </span>

          <li class="nav-item active">
            <a class="nav-link" href="<%= path(@conn, "/flags/#{html_safe(@flag.name)}") %>"><%= html_safe(@flag.name) %></a>
          </li>
        </ul>

        <a href="/" class="btn btn-secondary mr-4 d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
          </svg>
          <span class="ml-1">Back to Admin Panel</span>
        </a>

        <a href="<%= path(@conn, "/new") %>" class="btn btn-secondary">New Flag</a>
      </div>
    </nav>

    <div class="container mt-3">
      <h1>
        <%= html_safe(@flag.name) %>

        <%= case Utils.boolean_gate_open?(@flag) do %>
          <% :missing -> %>
            <span class="badge badge-default">Disabled (missing)</span>

          <% {:ok, false} -> %>
            <span class="badge badge-danger">Disabled</span>

          <% {:ok, true} -> %>
            <span class="badge badge-success">Enabled</span>

        <% end %>
      </h1>

      <div id="actor_gates" class="row mb-3">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Actors</h5>
              <p class="card-text">
                Used to target a specific entity given its ID. e.g
                <code>user:1234</code>,
                <code>member:1234</code>, or
                <code>workspace:1234</code>
              </p>
            </div>

            <ul class="list-group list-group-flush fwf-gate-list">
              <% actor_gates = Utils.actor_gates(@flag) %>

              <%= for gate <- actor_gates do %>
                <li class="list-group-item px-0">
                  <%= _actor_row(conn: @conn, flag: @flag, gate: gate) %>
                </li>
              <% end %>

              <%= if Enum.empty?(actor_gates) do %>
                <li class="list-group-item">
                  none
                </li>
              <% end %>

              <li class="list-group-item">
                <%= _new_actor_row(conn: @conn, flag: @flag, error_message: assigns[:actor_error_message]) %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="group_gates" class="row mb-3">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Groups</h5>
            </div>
            <ul class="list-group list-group-flush fwf-gate-list">
              <% group_gates = Utils.group_gates(@flag) %>

              <%= for gate <- group_gates do %>
                <li class="list-group-item px-0">
                  <%= _group_row(conn: @conn, flag: @flag, gate: gate) %>
                </li>
              <% end %>

              <%= if Enum.empty?(group_gates) do %>
                <li class="list-group-item">
                  none
                </li>
              <% end %>

              <li class="list-group-item">
                <%= _new_group_row(conn: @conn, flag: @flag, error_message: assigns[:group_error_message]) %>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div id="percentage_gates" class="row mb-3">
        <div class="col">
          <div class="card">
            <h5 class="card-header">
              Percentage
            </h5>
            <ul class="list-group list-group-flush fwf-gate-list">
              <% percentage_gate = Utils.percentage_gate(@flag) %>

              <%= if is_nil(percentage_gate) do %>
                <li class="list-group-item">
                  none
                </li>
              <% else %>
                <li class="list-group-item px-0">
                  <%= _percentage_row(conn: @conn, flag: @flag, gate: percentage_gate) %>
                </li>
              <% end %>

              <li class="list-group-item">
                <%= _percentage_form_row(conn: @conn, flag: @flag, gate: percentage_gate, error_message: assigns[:percentage_error_message]) %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id="danger_zone" class="row mb-3">
        <div class="col">
          <div class="card" style="border: 1px solid #d9534f;">
            <h5 class="card-header">
              Danger Zone
            </h5>
            <ul class="list-group list-group-flush">
              <%= _boolean_row(conn: @conn, flag: @flag) %>

              <li class="list-group-item">
                <div class="w-100 d-flex justify-content-between align-items-center">
                  <div>
                    <h6 class="font-weight-bold">
                      Delete feature flag
                    </h6>
                    <p class="text-sm mb-0">
                      Deletes the feature flag from existence. Please be careful.
                    </p>
                  </div>

                  <form id="fwf-delete-flag-form" action="<%= path(@conn, "/flags/#{html_safe(@flag.name)}") %>" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_csrf_token" value="<%= @conn.assigns[:csrf_token] %>">
                    <button type="submit" class="btn btn-outline-danger" data-confirm="Are you sure you want to completely delete the flag '<%= html_safe(@flag.name) %>'?">Delete Flag</button>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="<%= path(@conn, "/assets/details.js") %>"></script>
  </body>
</html>
